@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

body {
    @apply font-montserrat bg-gradient-to-r from-blue-100 via-purple-100 to-pink-100;

  }

  @theme {
    --font-montserrat: 'Montserrat', sans-serif;
  }

  @layer utilities {
    @keyframes fade-in {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    .fade-in {
      animation: fade-in 1000ms ease-in-out;
    }


    @keyframes scale-in {
      0% {
        
        transform: scale(0.5);
        opacity: 0;
      }
      100% {
        transform: scale(1);
        opacity: 1;
      }
    }
    .scale-in {
      animation: scale-in 1000ms ease-in-out;
    }

    @keyframes slide-in-up {
      0% {
        transform: translateY(20px);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }

@keyframes animated-gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.animate-gradient-background {
    background: linear-gradient(-45deg, #e9d5ff, #fbcfe8, #dbeafe, #a78bfa);
    background-size: 400% 400%; 
    animation: animated-gradient 15s ease infinite;
}




